.parent-create-order{
    width: 100vw;
    height: 150vh;
}
.parent{
    width:100vw;
}
.header{
    margin-left: 5%;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 48px #0000000F;
    opacity: 1;
}
.navbar,.nav-bar{
    display:inline-block;
}
.navbar{
    display:flex;
    width:40%;
    float:right;
    justify-content: space-around;
    font: normal normal normal 14px/19px Avenir;
    letter-spacing: 1.05px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
}
a{
    text-decoration: none;
    color:#5861AE;
}
.navbar button{
    border-radius: 5%;
    background: #5861AE 0% 0% no-repeat padding-box;
    color: white;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    top: 0px;
    width: 113px;
    height: 80px;
}
.nav-bar{
    top: 30px;
    width:8%;
    height: 5%;
    margin-left:7%;
    text-align: left;
    font: normal normal 900 20px/27px Avenir;
    letter-spacing: 1.8px;
    color: #5861AE;
    text-transform: uppercase;
    opacity: 1;

}
.navbar a{
    padding-top: 3%;
    padding-left: 4%;
    border-left: 1px solid rgb(206, 202, 202);
}
.parent-div{
    width: 4vw;
    margin-left: 5%;
    top:13vh;
    height:100vh;
    background-color: #5861AE;
    position: fixed;
}
.nav-home,.nav-create,.nav-show{
    width: 4vw;
    height: 7vh;

}
.nav-home{
    /* background-image: url("../images/side-bar-home.png"); */
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
/* .nav-create{
    background-image: url("../images/white=side-bar-plus.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
} */

.nav-show{
    /* //background-image: url("../images/side-bar-more.png"); */
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.nav-create{
    background-color: #ffff;
    /* background-image: url("../images/side-bar-plus.png"); */
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
/* .nav-show{
    background-color: #FFFFFF;
    background-image: url("../images/blue-side-bar-more.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
} */
.search_box {
    width: 115px;
    text-align: left;
    width: 200px;
    height: 20.79px;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #00000029;
    transition: 0.1s;
    
   
}
.search_container{
    float: right;
margin-left: 995px;
}

.search_icon{
    background: url("../images/search-hover.png") no-repeat;
    height: 14.05px;
    width: 14.05px;
    transition: 0.4s;
    margin-top: 15%;
    
}

.search_container:hover .search_box{
    transform:translateY(4px);
    border-color: #1D377E;
}


.search_container:hover .search_icon{
    padding: 0;
    margin: 0;
    background: url("../images/search-hover.png") no-repeat;
    transform: translateY(-4px);
}
.create-order-page{
    display: block;
    position: absolute;
}
.ordercount-search {
    display:flex;
    justify-content: space-between;
}

.ordercount-search h2{
    font-size: small;
    position:relative;
    top: 20px;
    left: 206px;
    width: 179px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/48px Open Sans;
    letter-spacing: 0px;
    color: #1E2022;
    text-transform: capitalize;
    opacity: 1;
}
.side-bar-btn{
    display: flex;

}
.create-order-btn button {
    text-align: center;
    position: absolute;
    top: 439px;
    left: 695px;
    width: 107px;
    height: 32px;
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
    padding:10px 13px 14px 13px;
    background-color: white;
    color:#5861AE ;
 
}
.footer-component{
position:fixed;
    width: 90vw;
    bottom: 0;
    background-color: #182838;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    height:4%;
}
.footer-circle{
    margin: 0.5rem;
    border: 1px solid #FEFFFF;
    border-radius: 50%;
    min-height: 2.5%;
    min-width: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}