.parent-orderlists{
    width: 100vw;
    height:150vh;
}
.table-orderlists{
    position: absolute;
        margin-left: 12%;
        margin-top:1%;
       
}
.parent-div,.create-order-page{
    display: inline-block;
}
.table-head{
    background-color: black;
    color:white;
}
.table-head th{
    padding-top: 1%;
    padding-bottom: 1%;
      text-align: center;
      width: 7%;
    
    }
.proceed-cancel-btn{
    position:absolute;
    right :13%;
    bottom:0px;
    padding-left: 5%;
 margin-bottom: -320px;
 padding-left: 15px;
}
.proceed-cancel-btn button{
    display:inline-block;
  
}
.cancel-btn {
    position: relative;
    right:50px;
    bottom: 25px;
    font: normal normal 600 13px/25px Open Sans;
    letter-spacing: 0px;
    color: #5861AE;
    opacity: 1;
    background-color: aliceblue;
    border: 2px solid #5861AE;
    border-radius: 3px;
    
}
.proceed-btn{
    /* margin-left: 80%; */
    position: relative;
    right:10px;
    bottom: 25px;
    border: 2px solid #ebecf0;
    background-color:  #5861AE;
    font: normal normal 600 14px/28px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border-radius: 3px;

}
